<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>iRuxu NoteBook</title>
<meta charset="utf-8"/>
<meta name="keywords" content="javascript,css,html,nodejs,mongoDB,PHP,MySQL,swift" />
<meta name="description" content="iruxu's Notebook for web develope" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="icon" type="image/x-icon" href="image/favicon.ico">
<script src="js/jquery-1-10-2.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/rainbow.min.js"></script>
<script src="js/index.js"></script>
<link rel="stylesheet" href="css/jquery-ui.css" />
<link rel="stylesheet" href="css/monokai.css" />
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div class="snippet" id="snippet">
	<h6>iRuxu's Snippet Box </h6>
	<span class="close" id="closebox">×</span>
	<div class="box" id="box">
		<!-- some snippet will be show-->
	</div>
</div>

{{import 'module/header'}}

<div id="main" class="main">

	{{import 'module/css'}}

	{{import 'module/jquery'}}

	{{import 'module/javascript'}}

	{{import 'module/html'}}

	{{import 'module/regexp'}}

</div>

{{import 'module/footer'}}

<div style="display:none"><script src="http://s6.cnzz.com/z_stat.php?id=1253473928&web_id=1253473928" language="JavaScript"></script></div>
</body>
</html>

<!-- 
<ul>
	<li>
		<h3>字符串<span>-</span></h3>
		<div>
			<h4>[<span>-</span>]String</h4>
			<ul>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
				<li><a href=""></a><span></span></li>
			</ul>
		</div>
	</li>
</ul> 
-->