<div id="BOM" class="c-tab">
	{{import 'module/bom/html0'}}
	{{import 'module/bom/html1'}}
	{{import 'module/bom/html2'}}
	{{import 'module/bom/html3'}}
	{{import 'module/bom/html4'}}
	{{import 'module/bom/html5'}}
	{{import 'module/bom/html6'}}
</div>