{{import "module/head"}}
{{import "module/header"}}
<link rel="stylesheet" href="css/page/notebook.css" type="text/css"/>
<div class="m-showbox" id="snippet">
	<div class="m-showbox-wrapper">
		<h6 class="u-title" id="box-title">iRuxu's Snippet Box </h6>
		<span class="u-close" id="closebox">×</span>
		<div class="m-box" id="box">
			<!-- some snippet will be show-->
		</div>
	</div>
</div>
<div class="m-note" id="m-note">
	{{import "module/note1"}}
	{{import "module/note2"}}
	{{import "module/note3"}}
	{{import "module/note4"}}
	{{import "module/note5"}}
	{{import "module/note6"}}
	{{import "module/note7"}}
	{{import "module/note8"}}
</div>
{{import "module/footer"}}