<div id="Git" class="c-tab">
	{{import 'module/git/git0'}}
	{{import 'module/git/git1'}}
	{{import 'module/git/git2'}}
	{{import 'module/git/git3'}}
	{{import 'module/git/git4'}}
	{{import 'module/git/git5'}}
	{{import 'module/git/git6'}}
</div>