<div id="CSS" class="content">
	{{import 'module/css/part1'}}
	{{import 'module/css/part2'}}
	{{import 'module/css/part3'}}
	{{import 'module/css/part4'}}
	{{import 'module/css/part5'}}
	{{import 'module/css/part6'}}
	{{import 'module/css/part7'}}
</div>