<div id="javascript" class="content" style="display:none">
	{{import 'module/js/part1'}}
	{{import 'module/js/part2'}}
	{{import 'module/js/part3'}}
	{{import 'module/js/part4'}}
	{{import 'module/js/part5'}}
	{{import 'module/js/part6'}}
	{{import 'module/js/part7'}}
</div>