<div id="NODE" class="c-tab">
	{{import 'module/node/node0'}}
	{{import 'module/node/node1'}}
	{{import 'module/node/node2'}}
	{{import 'module/node/node3'}}
	{{import 'module/node/node4'}}
	{{import 'module/node/node5'}}
	{{import 'module/node/node6'}}
</div>