<div id="Python" class="c-tab">
	{{import 'module/python/python0'}}
	{{import 'module/python/python1'}}
	{{import 'module/python/python2'}}
	{{import 'module/python/python3'}}
	{{import 'module/python/python4'}}
	{{!import 'module/python/python5'}}
	{{!import 'module/python/python6'}}
</div>