<div id="JS" class="c-tab">
	{{import 'module/js/js0'}}
	{{import 'module/js/js1'}}
	{{import 'module/js/js2'}}
	{{import 'module/js/js3'}}
	{{import 'module/js/js4'}}
	{{import 'module/js/js5'}}
	{{import 'module/js/js6'}}
</div>