<div id="main" class="c-main">

	{{import 'module/css/css'}}

	{{import 'module/js/js'}}
	{{import 'module/node/node'}}

	{{import 'module/html/html'}}
	{{import 'module/jquery/jquery'}}
	{{import 'module/html5/html'}}

	{{import 'module/c/c'}}
	{{import 'module/python/python'}}
	{{import 'module/php/php'}}
	{{import 'module/kotlin/kotlin'}}
	{{import 'module/java/java'}}
	{{import 'module/swift/swift'}}

	{{import 'module/sql/sql'}}

	{{import 'module/git/git'}}
	{{import 'module/linux/linux'}}
	{{import 'module/regexp/regexp'}}
	{{import 'module/grammar/grammar'}}

	<p id="nt-loading">+ Loading..</p>

</div>