<div id="main" class="c-main">

	{{import 'module/css/css'}}
	{{import 'module/js/js'}}

	{{import 'module/dom/dom'}}
	{{import 'module/bom/bom'}}

	{{!import 'module/node/node'}}
	{{import 'module/python/python'}}
	{{import 'module/db/db'}}
	
	{{import 'module/linux/linux'}}
	{{import 'module/regexp/regexp'}}

	{{import 'module/git/git'}}
	{{import 'module/jquery/jquery'}}

	<p id="nt-loading">+ Loading..</p>

</div>