<div id="main" class="c-main">

	{{import 'module/css/css'}}
	{{import 'module/dom/dom'}}
	{{import 'module/bom/bom'}}
	{{import 'module/jquery/jquery'}}

	{{import 'module/js/js'}}
	{{import 'module/python/python'}}
	{{import 'module/c/c'}}
	{{import 'module/node/node'}}
	{{import 'module/db/db'}}

	{{import 'module/linux/linux'}}
	{{import 'module/regexp/regexp'}}
	{{import 'module/git/git'}}

	<p id="nt-loading">+ Loading..</p>

</div>