<div id="jquery" class="c-tab">
	{{import 'module/jquery/jq1'}}
	{{import 'module/jquery/jq2'}}
	{{import 'module/jquery/jq3'}}
	{{import 'module/jquery/jq4'}}
	{{import 'module/jquery/jq5'}}
	{{import 'module/jquery/jq6'}}
	{{import 'module/jquery/jq7'}}
</div>