<div id="jQuery" class="c-tab">
	{{import 'module/jQuery/jq1'}}
	{{import 'module/jQuery/jq2'}}
	{{import 'module/jQuery/jq3'}}
	{{import 'module/jQuery/jq4'}}
	{{import 'module/jQuery/jq5'}}
	{{import 'module/jQuery/jq6'}}
	{{import 'module/jQuery/jq7'}}
</div>