<div id="C" class="c-tab">
	{{import 'module/c/c0'}}
	{{import 'module/c/c1'}}
	{{import 'module/c/c2'}}
	{{import 'module/c/c3'}}
	{{import 'module/c/c4'}}
	{{import 'module/c/c5'}}
	{{import 'module/c/c6'}}
</div>